**/.DS_Store
/.cpcache/
/.nrepl-port
/generated/
/midi/soundfonts/
/emacs/compiled/
/emacs/xp/
/.clj-kondo/*
!/.clj-kondo/hooks
!/.clj-kondo/config.edn
/.lsp
vsl/*
/test/frozen/temp/
.dir-locals.el
.aider/*
.aider.conf.yml
/.aider.tags.cache.v3/
/target/
/test/data/
/test/trash/
/.cljdoc-preview/
/.git.bfg-report/
