**/.DS_Store
/.cpcache/
/.nrepl-port
/generated/
/midi/soundfonts/
/emacs/compiled/
/emacs/xp/
/.clj-kondo/.cache
/.clj-kondo/inline-configs/
/.clj-kondo/org.clj-commons/
/.clj-kondo/potemkin/
/.lsp
/notation/samples/
/data/chromaphone-banks.edn
.calva/output-window/output.calva-repl
vsl/*
.git.bfg-report
/test/frozen/temp/
/.clj-kondo/.lock
.dir-locals.el
/.clj-kondo/babashka/
/.clj-kondo/http-kit/
/.clj-kondo/instaparse/
/.clj-kondo/rewrite-clj/
/.clj-kondo/taoensso/
