**/.DS_Store
/.cpcache/
/.nrepl-port
/generated/
/midi/soundfonts/
/emacs/compiled/
/emacs/xp/
/.clj-kondo/*
!/.clj-kondo/hooks
!/.clj-kondo/config.edn
/.lsp
/notation/samples/
/data/chromaphone-banks.edn
.calva/output-window/output.calva-repl
vsl/*
.git.bfg-report
/test/frozen/temp/
.dir-locals.el
