{:paths ["src" "scripts"]
 :deps {zprint/zprint {:mvn/version "1.2.9"}}
 :tasks {zprint {:requires ([zprint.main]),
                 :task (apply zprint.main/-main *command-line-args*)}

         build-doc-tests {:requires ([generate]),
                          :task (generate/build-doc-tests)}
         build-client-doc-ns {:requires ([generate]),
                              :task (generate/build-client-doc-ns)}
         build-doc-ns {:requires ([generate]),
                       :task (generate/build-doc-ns)}
         build-all {:requires ([generate]),
                    :task (generate/build-all)}
         build-cljdoc-tree {:requires ([org-utils]),
                            :task (org-utils/build-cljdoc-tree)}}}
