{:paths ["src" "resources" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/math.combinatorics {:mvn/version "0.3.0"}
        me.raynes/fs {:mvn/version "1.4.6"}
        clj-fuzzy/clj-fuzzy {:mvn/version "0.4.1"}
        backtick/backtick {:mvn/version "0.3.4"}
        org.clj-commons/byte-streams {:mvn/version "0.3.4"}
        org.clojure/data.codec {:mvn/version "0.1.1"}
        instaparse/instaparse {:mvn/version "1.5.0"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        org.babashka/sci {:mvn/version "0.9.44"}
        ;; should be moved to dev
        zprint/zprint {:mvn/version "1.2.9"}
        commonmark-hiccup/commonmark-hiccup {:mvn/version "0.2.0"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :artifact "target/noon-0.1.3.jar"}}
  :test {:extra-paths ["test"]
         :extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.4.11"}}
         :exec-fn noon.test/run-all}
  #_{:extra-paths ["test"]
     :extra-deps {io.github.cognitect-labs/test-runner
                  {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
     :main-opts ["-m" "cognitect.test-runner"]
     :exec-fn cognitect.test-runner.api/test}
  :client {:extra-paths ["client"]
           :extra-deps {org.clojure/clojurescript {:mvn/version "1.11.132"}
                        thheller/shadow-cljs {:mvn/version "2.28.19"}
                        binaryage/devtools {:mvn/version "1.0.0"}
                        stylefy/stylefy {:mvn/version "3.2.0"}
                        stylefy/generic-dom {:mvn/version "3.0.0"}
                        uic/uic {#_:local/root #_"/Users/pierrebaille/Code/WIP/uic"
                                 :git/url "https://github.com/pbaille/uic.git"
                                 :sha "3bea9d982ed2aeee17fb33a19bc0ae9d0e000f15"}
                        com.pitch/uix.core {:mvn/version "1.2.0"}
                        com.pitch/uix.dom {:mvn/version "1.2.0"}}}

  ;; building noon.client.guide.cljs file
  :create-client-guide-ns {:extra-paths ["scripts"]
                           :extra-deps {commonmark-hiccup/commonmark-hiccup {:mvn/version "0.2.0"}}
                           :exec-fn create-client-guide-ns/create-client-guide-ns}
  :build-doc-tests {:extra-paths ["scripts"]
                    :exec-fn org-utils/build-doc-tests}}}
