{:deps {:aliases [:client]}

 :nrepl {:port 9000}

 :builds {:client
          {:target :browser
           :modules {:main {:init-fn noon.client.core/init
                            :reload-fn noon.client.core/reload}}
           :devtools {:http-root "public"
                      :http-port 8999
                      :preloads [devtools.preload]}
           :output-dir "public/js"
           :asset-path "js"
           :compiler-options {:optimizations :simple
                              :output-feature-set :es8
                              :output-wrapper false}}

          :bootstrap {:target :bootstrap
                      :output-dir "public/bootstrap"
                      :exclude #{cljs.js instaparse.core instaparse.gll instaparse.abnf}
                      :entries [cljs.js noon.score noon.lib.melody noon.lib.harmony noon.lib.rythmn]
                      :macros []}
          :test {:target :node-test
                 :output-to "out/node-tests.js"}}}
