{:deps {:aliases [:client]}

 :nrepl {:port 9000}

 :builds {:client
          {:target :browser
           :modules {:main {:init-fn noon.client.core/init
                            :reload-fn noon.client.core/reload}}
           :devtools {:http-root "public"
                      :http-port 8999
                      :preloads [devtools.preload]}
           :output-dir "public/js"
           :asset-path "js"
           :compiler-options {:output-feature-set :es8}}
          :test {:target :node-test
                 :output-to "out/node-tests.js"}}}
