{:linters {:missing-else-branch {:level :off}
           :unused-value {:level :off}
           :uninitialized-var {:level :off}
           :clojure-lsp/unused-public-var {:level :off}
           :redundant-do {:level :off}
           :use {:level :off}
           :unresolved-var {:exclude [clj-commons.byte-streams/to-input-stream]}}
 :lint-as {backtick/template clojure.core/comment}
 :config-in-call {clojure.core/do {:unused-value {:level :off}}}
 :config-in-comment {:linters {:unresolved-symbol {:level :off}
                               :unresolved-namespace {:level :off}
                               :invalid-arity {:level :off}}}
 :hooks {:analyze-call {noon.utils.chance/gen noon.utils.chance/gen
                        noon.utils.chance/defcoll noon.utils.chance/defcoll}
         :macroexpand {noon.utils.chance/defgen noon.utils.chance/defgen

                       noon.utils.misc/defn* noon.utils.misc/defn*
                       noon.utils.misc/f_ noon.utils.misc/f_
                       noon.utils.misc/>_ noon.utils.misc/>_
                       noon.utils.misc/defreduction noon.utils.misc/defreduction

                       noon.score/efn noon.score/lambda
                       noon.score/ef_ noon.score/lambda_
                       noon.score/sfn noon.score/lambda
                       noon.score/sf_ noon.score/lambda_
                       noon.score/import-wrap-harmony-update-constructors noon.score/import-wrap-harmony-update-constructors
                       noon.score/import-wrap-harmony-updates  noon.score/import-wrap-harmony-updates
                       noon.score/-def-channels noon.score/-def-channels
                       noon.score/-def-velocities noon.score/-def-velocities
                       noon.score/-def-durations noon.score/-def-durations
                       noon.score/-def-tracks noon.score/-def-tracks
                       noon.score/-def-wrapped noon.score/-def-wrapped
                       noon.score/-def-steps noon.score/-def-steps
                       noon.score/-def-shifts noon.score/-def-shifts
                       noon.score/-def-degrees noon.score/-def-degrees

                       noon.harmony/defsteps noon.harmony/defsteps

                       noon.multi.score/event-update noon.multi.score/lambda
                       noon.multi.score/ef_ noon.multi.score/lambda_
                       noon.multi.score/score-update noon.multi.score/lambda
                       noon.multi.score/sf_ noon.multi.score/lambda_
                       noon.multi.score/multiscore-update noon.multi.score/lambda
                       noon.multi.score/mf_ noon.multi.score/lambda_
                       noon.multi.score/score->multiscore-update noon.multi.score/lambda
                       noon.multi.score/import-wrap-harmony-update-constructors noon.multi.score/import-wrap-harmony-update-constructors
                       noon.multi.score/import-wrap-harmony-updates  noon.multi.score/import-wrap-harmony-updates
                       noon.multi.score/-def-channels noon.multi.score/-def-channels
                       noon.multi.score/-def-velocities noon.multi.score/-def-velocities
                       noon.multi.score/-def-durations noon.multi.score/-def-durations
                       noon.multi.score/-def-tracks noon.multi.score/-def-tracks
                       noon.multi.score/-def-wrapped noon.multi.score/-def-wrapped
                       noon.multi.score/-def-steps noon.multi.score/-def-steps
                       noon.multi.score/-def-shifts noon.multi.score/-def-shifts
                       noon.multi.score/-def-degrees noon.multi.score/-def-degrees}}}
