{:lint-as {uic.state/sub clojure.core/fn
           uic.state/dbf clojure.core/fn
           uic.state/event clojure.core/fn
           uic.state/effect clojure.core/fn
           ;; uic.state/signal clojure.core/fn
           }
 :linters {:unused-value {:level :off}}
 :hooks {:macroexpand {uic.state/signal uic.state/signal
                       uic.styles.dimensions/define-space-mixin uic.styles.dimensions/define-space-mixin}}
 :config-in-call {uic.state/signal {:ignore [:type-mismatch]}
                  uic.styles.dimensions/define-space-mixin {:ignore [:unused-binding]}}}
