{:cljdoc/languages ["clj"],
 :cljdoc.doc/tree
 [["Noon"
   {:file "doc/Noon.md"}
   ["Motivation" {:file "doc/Noon/01-Motivation.md"}]
   ["Elements"
    {:file "doc/Noon/02-Elements.md"}
    ["Building blocks"
     {:file "doc/Noon/02-Elements/01-Building_blocks.md"}]
    ["Top form" {:file "doc/Noon/02-Elements/02-Top_form.md"}]
    ["Transformations 1"
     {:file "doc/Noon/02-Elements/03-Transformations_1.md"}]
    ["Transformations 2"
     {:file "doc/Noon/02-Elements/04-Transformations_2.md"}]
    ["Polyphony" {:file "doc/Noon/02-Elements/05-Polyphony.md"}]
    ["Mapping" {:file "doc/Noon/02-Elements/06-Mapping.md"}]
    ["Dynamism" {:file "doc/Noon/02-Elements/07-Dynamism.md"}]
    ["Non determinism"
     {:file "doc/Noon/02-Elements/08-Non_determinism.md"}]
    ["Harmony" {:file "doc/Noon/02-Elements/09-Harmony.md"}]]
   ["Composing"
    {:file "doc/Noon/03-Composing.md"}
    ["Melody" {:file "doc/Noon/03-Composing/01-Melody.md"}]
    ["Rythmn" {:file "doc/Noon/03-Composing/02-Rythmn.md"}]
    ["Harmony" {:file "doc/Noon/03-Composing/03-Harmony.md"}]]]]}
